<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
 <link rel="stylesheet" href="../public/css/chat.css">
</head>
<body>
  <div class="container">
     <div id="chat-screen" class="chat-layout">
       <div class="chat-window">
        <div>
        <div class="chat-header">Chat App</div>
        <div class="users">
          <ul id="users-list">
        </ul>
        </div>
        <div class="message-list">
          <ul id="users-message">
          
        </ul>
        </div>
        </div>
       <div class="chat-input">
         <div class="message-container">
          <input type="text" id="msgInput" placeholder="Type a message...">
          <button onclick="sendMessage()"  >Send</button>
          </div>
        </div>
      </div>
     </div>
  </div>

  
  
</body>
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../public/js/chat.js"></script>
</html>
