<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
 <link rel="stylesheet" href="../public/css/chat.css">
</head>
<body>
  <div class="container">
     <div id="chat-screen" class="chat-layout">
       <div class="chat-window">
        <div class="chat-header">Chat App</div>
        <ul id="users"></ul>
        <div class="chat-messages" id="messages"></div>
        
        <div class="chat-input">
          <input type="text" id="msgInput" placeholder="Type a message...">
          <button >Send</button>
        </div>
      </div>
     </div>
  </div>

  
  
</body>
</html>
