
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f9f9f9;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      width: 85%;
      max-width: 900px;
      height: 85%;
      border: 1px solid #ccc;
      background: #fff;
      border-radius: 6px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    

    .chat-layout {
      flex: 1;
      display: flex;
      flex-direction: row;
    }

    .message-list {
     
      border-right: 1px solid #ccc;
      padding: 10px;
      background: #fffbfb;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  

    #users-message {
      min-width: 500px;
      list-style: none;
      padding: 0;
      margin: 0;
    }
#users-message li{
  
  width: 100%;
  padding: 3px;
  text-align: center;

}
  #users-message li:nth-child(odd) {
  background: #bab6b6;
}
  #users-message li:nth-child(even) {
  background: #fffefe;
}
    .chat-window {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .chat-header {
      text-align: center;
      padding: 10px;
      font-size: 1.5rem;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
    }

    .chat-messages {
      flex: 1;
      padding: 15px;
      overflow-y: auto;
    }

    .message {
      background: #ddd;
      padding: 8px 12px;
      margin: 6px 0;
      border-radius: 4px;
      font-size: 0.95rem;
    }

.chat-input {
      
      border-top: 1px solid #ccc;
      background: #184d63;
      padding: 10px;
    }
.message-container{
  display: flex;
  min-width: 100px;
  justify-content: center;
  align-items: center;
}
    .chat-input input {
      flex: 1;
      padding: 8px;
      font-size: 1rem;
      border: none;
      outline: none;
    }

    .chat-input button {
      padding: 8px 12px;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      background: #ccc;
    }
